<entities-nav></entities-nav>
<router-outlet></router-outlet>
<hr />
<div *ngIf="alert">
	<h2>Alert</h2>
	<table>
		<tr>
			<th>Title</th>
			<td>{{alert.name}}</td>
		</tr>
		<tr>
			<th>Date</th>
			<td>{{alert.date | date:"medium"}}</td>
		</tr>
		<tr>
			<th>Status</th>
			<td>{{alert.status.name}}</td>
		</tr>
		<tr>
			<th>Machine</th>
			<td>{{alert.machine.domain}}\{{alert.machine.name}}</td>
		</tr>
		<tr *ngIf="alert.tags">
			<th>Tags</th>
			<td>
				<tag *ngFor="let tag of alert.tags" [tag]="tag"></tag>
			</td>
		</tr>
	</table>
	<button (click)="loadAlert()">Refresh</button>
	<button (click)="saveAlert()">Update</button>
</div>
